In [1]:
data = {'A':[1,2,3,4,5,6],'B':[7,8,9,10,11,12],'C':[13,14,15,16,17,18]}

In [2]:
import pandas as pd
df = pd.DataFrame(data)
df.head()

   A   B   C
0  1   7  13
1  2   8  14
2  3   9  15
3  4  10  16
4  5  11  17

In [3]:
df.to_csv("../data/myfile.csv")